.profile__info {
  display: flex;
  max-width: 486px;
  align-items: center;
}

@media screen and (max-width: 730px) {
  .profile__info {
    flex-direction: column;
    justify-content: center;
  }
}
